@import "variables.css";
@import "reset.css";
@import "header.css";
@import "main.css";
@import "bottom.css";
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  height: 120vh;
  align-items: center;
}

.img_size {
  max-width: 100%;
  max-height: 100%;
}
.small_text {
  font-size: 15px;
  color: rgba(0, 0, 0, 0.4);
}
.middle_text {
  display: block;
  font-size: 20px;
  font-weight: 500;
  margin: 10px 0;
}
.big_text {
  display: block;
  font-size: 25px;
  font-weight: 700;
  margin: 15px 0px;
}
/*******************************************************/
